<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChangeMode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChangeMode.Properties.Settings>
            <setting name="maintenanceMode" serializeAs="String">
                <value>False</value>
            </setting>
        </ChangeMode.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="changePath" value="C:/Users/divya.athyala/DRepos/VS2019/ChangeMode/Scripts/rDWP_Config_v1.5.ps1"/>
		<add key="resetPath" value="C:/Users/divya.athyala/DRepos/VS2019/ChangeMode/Scripts/Uninstall.ps1"/>

	</appSettings>
</configuration>